.formContainer {
  font-family: Arial;
}

.formContainer input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: inherit;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formContainer label {
  transition: 0.2s;
  font-size: inherit;
  color: #9b9b9b;
}
