@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

.selectorContainer {
    display: flex;
    flex-direction: column;
}

.dropdown.closed {
    display: none;
}

.dropdown.opened{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #232524;
    border-radius: 10px;
    padding: 10px;
    width: 65%;

}

.option {
    outline: none;
    padding: 5px 0px 5px 5px;
    min-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    font-family: 'JetBrains Mono', monospace;
    color: #9b9b9b;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    transition: 0.15s;
}

.option.n:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.option.y {
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.option.y:hover {
    background-color: rgb(255, 255, 255, 0.4);
}