@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

body {
  background-color: #474A48;
  font-family: 'JetBrains Mono', monospace;
  width: 100%;
  height: 100vh;
  color: white;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0;

}

.App {
  width: 100%;
  height: 95%;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.7fr 1.4fr;
  margin: auto 0px;
}


.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #2C302E;
  width: 100%;
  max-width: 80%;
  box-shadow: black 0px 5px 20px -6px;
  padding: 20px;
}

.formHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  padding: 5px 5px;
  border: 0;
  border-radius: 10px;
  border-bottom: 2px solid #63926C;
  border-top: 2px solid #63926C;
  margin: 0px auto;
}

.numInputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}

.mazeStyle {
  align-self: center;
  justify-self: center;
  display: flex;
  border-radius: 20px;
  background-color: #2C302E;
  justify-items: center;
  align-items: center;
  height: fit-content;
  max-width: 92%;
  box-shadow: black 0px 5px 20px -6px;
  padding: 30px 20px;
}

h3 {
  color: #9b9b9b;
  font-size: inherit;
}

.resetBtn {
  align-self: center;
  width: 70%;
  background-color: transparent;
  border: 2px solid #9b9b9b;
  padding: 5px;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  color: #9b9b9b;
  transition: 0.2s;
}

.resetBtn:hover {
  border: 2px solid #63926C;
  color: white;
}